body {
    margin: 0px;
    padding: 0px;
    background-color: #111;
    z-index: 1;
}

#main {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", 'Arial', sans-serif; 
    color: #CCC;
    font-weight: 100;
}

h1 {
    text-align: center;
}

.row {
    margin-bottom: 0px;
    padding-left: 20px;
    min-height: 225px;
}

h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 6px;
}

.carousel-container {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar { 
    display: none;
}

.carousel-item {
    min-width: 250px;
    max-width: 250px;
    max-height: 142px;
    margin-right: 12px;
    margin-left: 12px;
    scroll-snap-align: start;
}

.thumbnail-img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.thumbnail-img:focus {
    outline: none;
    transform: scale(1.1);
    z-index: 100;
    border: 2px solid #fff;
    box-shadow: -1px 3px 10px rgba(255, 255, 255, 0.8);
}